version: "3.7"

x-logging: &logging
  logging:
    driver: "json-file"
    options:
      max-file: "10"
      max-size: "100m"

services:
  geth:
    image: ethereum/client-go:latest
    restart: always
    command: --http --http.port=8545 --http.addr=0.0.0.0 --http.vhosts="*" --allow-insecure-unlock --http.api="db,eth,net,web3,personal"
    ports:
      - 30303:30303/tcp
      - 30303:30303/udp
      - 127.0.0.1:8545:8545
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/ETH2/geth:/root/.ethereum
    <<: *logging

  beacon:
    image: sigp/lighthouse:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/ETH2/lighthouse:/root/.lighthouse
      - ./config/lighthouse/start-beacon-node.sh:/root/scripts/start-beacon-node.sh:ro
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
    env_file: ./config/lighthouse/.env
    depends_on:
      - geth
    command: sh /root/scripts/start-beacon-node.sh
    restart: on-failure
    <<: *logging

  validator:
    image: sigp/lighthouse:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/lighthouse/validator/start-validator-client.sh:/root/scripts/start-validator-client.sh:ro
      - ~/ETH2/wallets:/root/.lighthouse
    depends_on:
      - beacon
    env_file: ./config/lighthouse/validator/.env
    command: sh /root/scripts/start-validator-client.sh
    restart: on-failure
    <<: *logging

  prometheus:
    image: prom/prometheus:v2.21.0
    user: root # https://github.com/prometheus/prometheus/issues/5976
    restart: on-failure
    hostname: prometheus
    command: --storage.tsdb.retention.time=7d --config.file=/etc/prometheus/prometheus.yml
    ports:
    - 127.0.0.1:9090:9090
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/prometheus/prometheus-lh.yaml:/etc/prometheus/prometheus.yml:ro
      - ~/ETH2/prometheus:/prometheus
    <<: *logging

  grafana:
    image: grafana/grafana:7.2.1
    restart: on-failure
    hostname: grafana
    depends_on:
      - prometheus
    ports:
      - 80:3000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/grafana/provisioning-lh:/etc/grafana/provisioning:ro
      - ~/ETH2/grafana:/var/lib/grafana
    <<: *logging

# EOF
